# conda源安装
torch==1.10.2+cu113
torchvision==0.11.3+cu113

# conda或pip安装
numpy==1.21.6
opencv-python==4.5.5.64
Pillow
pandas
matplotlib
tqdm
scipy
albumentations==1.1.0
efficientnet-pytorch==0.7.1
scikit-learn==1.0.2
scikit-image==0.19.3
dlib==19.24.2
imutils
imgaug
retinaface_pytorch